<% provide(:title, "Contact") %>
<h1>Contact Us</h1>
<%= render "navbar" %>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>